@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(font/montserrat-400.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(font/montserrat-700.ttf) format('truetype');
}

html {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

body {
    background: white;
    color: black;
    margin: 0;
    padding: 0;
}

.fixed-width {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 0.5rem;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}
.clearfix::after, .clearfix::before {
    display: table;
    content: "";
}

/*******************************************************************************
 * pitch (only on index.html)
 */

#pitch {
    height: 100vh;
    line-height: 100vh;
    font-size: 1.5rem;
    background: black;
    color: #00C7FF;
    text-align: center;
}
#pitch-content {
    padding: 5rem 0;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#pitch-content table {
    width: 100%;
}
#pitch-logo {
    width: 25%;
}
#pitch-logo img {
    width: 100%;
}
#pitch-text p {
    font-size: 2rem;
    margin: 0;
}
#pitch-text p + p {
    font-size: 3rem;
    margin-top: 0.5rem;
}

#pitch a.button {
    display: inline-block;
    border: 0;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    background: #00C7FF;
    color: black !important;
    text-decoration: none !important;
}
#pitch a.button:hover, #pitch a.button:active, #pitch a.button:focus {
    background: white;
}

/* responsive elements: we usually just put a large-scale logo in the center
 * and remove the #header-icon, but don't do that on small screens */
@media (min-width: 980px) {
    #pitch #header-icon {
        display: none;
    }
}
@media (max-width: 979px) {
    #pitch-logo {
        width: 0%;
        display: none;
    }
}
/* on small screens, dial down the fontsizes a bit */
@media (max-height: 40rem) and (max-width: 700px) {
    #pitch          { font-size: 1rem }
    #pitch-text p   { font-size: 1.5rem }
    #pitch-text p+p { font-size: 2rem }
}

/*******************************************************************************
 * header (with logo and Twitter/Github links)
 */

header#primary {
    background: black;
    color: #00C7FF;
    height: 64px;
    line-height: 64px;
}

header#primary .fixed-width {
    padding: 0;
    height: 0;
    overflow: visible;
}

#header-buttons {
    text-align: right;
}

#header-buttons a {
    font-size: 40px;
    color: inherit !important;
    text-decoration: none !important;
    margin-right: 0.5rem;
}

#header-buttons a:hover, #header-buttons a:active, #header-buttons a:focus {
    color: white !important;
}

header#secondary {
    background: #222;
    color: #00C7FF;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 0.5rem;
}

header#secondary a {
    color: inherit !important;
    text-decoration: none !important;
}

header#secondary a:hover, header#secondary a:active, header#secondary a:focus {
    color: white !important;
}

header#secondary a.current {
    font-weight: bold;
}

/*******************************************************************************
 * content
 */

#content-container a, span.highlight {
    /* the blue highlight needs to be a bit darker to look the same against a
     * light background */
    color: #00A7D0 !important;
    text-decoration: none !important;
}

#content-container a:hover, #content-container a:active, #content-container a:focus {
    text-decoration: underline !important;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

pre {
    max-width: 100%;
    overflow-x: auto;
    padding-left: 2rem;
}
pre > code {
    display: block;
}

pre, tt, code {
    font-size: 1rem;
}

/* pod2html wraps the content of <li> in <p> for some reason */
section li > p {
    margin: 0;
    padding: 0;
}

div.standout {
    background: #EEE;
    padding: 2rem 0;
    text-align: center;
}

div.standout img {
    width: 100%;
    max-width: 700px;
}

/*******************************************************************************
 * footer
 */

#content-container {
    /* ensure that the footer is at the bottom, without being position:fixed */
    min-height: calc(100vh - 64px - 2.5rem - 2.5rem);
}

footer {
    text-align: center;
    margin: 0;
    background: black;
    color: white;
}

footer .fixed-width {
    height: 2.5rem;
    line-height: 2.5rem;
}

footer a {
    color: #00C7FF !important;
    text-decoration: none !important;
}

footer a:hover, footer a:active, footer a:focus {
    text-decoration: underline !important;
}
